[2016-02-17 08:58] praqma-thi opened #1 "Make the job unstable when threshold is crossed\nEnable configuration of a threshold that will fail or make the job unstable if new memory consumption exceed the designated value."

[2016-02-17 08:59] praqma-thi commented on #1
Enable configuration of a threshold that will fail or make the job unstable if new memory consumption exceed the designated value.

[2016-02-17 09:04] praqma-thi commented on #1
[Trello card](https://trello.com/c/hDn0chFk)

[2016-02-17 09:06] praqma-thi opened #2 "IAR support"
Support for IAR compilers

[Trello card](https://trello.com/c/qpWCEw24) from old roadmap with a few more details that can be useful.

[2016-02-17 09:28] praqma-thi opened #3 "ARM support"
Files available @[Trello card](https://trello.com/c/wqIyuz6Q)

[2016-02-17 09:31] praqma-thi opened #4 "Add line graph option"
[Trello](https://trello.com/c/x1oXWo9x)

[2016-02-17 09:40] praqma-thi opened #5 "Keil support"
[Trello](https://trello.com/c/idTJJP5z)

[2016-02-17 09:42] praqma-thi opened #6 "Graph history changes"
Graphs currently based with one data-point pr. build.

It could be interesting to collapse, or keep history longer than we have builds for.

Currently long saved build history, make the graphs hard to show.

[Trello](https://trello.com/c/U6ZL1GD9)

[2016-02-17 09:49] praqma-thi opened #7 "Delta/Trending graphs"
Requests already made on JENKINS Jira issues:

    https://issues.jenkins-ci.org/browse/JENKINS-28265
    https://issues.jenkins-ci.org/browse/JENKINS-18245

[Trello](https://trello.com/c/hmWfYYT3)
#

[2016-02-17 09:53] praqma-thi opened #8 "Drill-down analysis"
A click on the graph could enable a more detailed view where the memory is graphically laid out and the different objects shown in the proportional space they occupy

First drill down

    for each module (object file) (c++) show how much size used in the different sections defined in the config file

Second drill down:

which is third level, could be views over the same data, historic pr. module

[2016-02-17 10:03] praqma-thi opened #9 "Logical memory graphs"
Currently we only supports physical memory sections, while the memory map files can also include logical sections.

Thus there should be two types of graphs available:

    memory graphs, limited to MEMORY defintion - they have length and max
    logical graphs, which refers to SECTIONS or MEMORY definitions, max can be calculated or the user could give it

[Trello](https://trello.com/c/PN506yCB)

[2016-02-17 11:49] praqma-thi opened #10 "Configuration warning"
The plugin should write a warning to the console if there are memory sections using memory that are not shown in the graphs.

[Trello](https://trello.com/c/WCH33rD5)

[2016-02-17 12:03] praqma-thi opened #11 "Architectural write-up"
Map and describe the current architecture and the desired architecture of the future
[Trello](https://trello.com/c/ejfIj7SI)

[2016-02-23 11:33] praqma-thi opened #12 "Better error message when link/map file cannot be located"
Catch the thrown FileNotFoundException and write a nicer error message.

[2016-02-23 11:34] praqma-thi commented on #12
Reproduce by:
Running a job after specifying a non-existent map or linker file.

[2016-02-25 09:29] praqma-thi commented on #12
Improved the wording on the error message.
It'll still be an exception, though.
If we want just a nice message and a failed build, we'd have to restructure the code somewhat so we can access the build object in this context. That way we could set their result to failed and abort the execution properly. Falls out of scope here, though.

[2016-02-25 09:29] #12 closed

[2016-05-24 06:59] lakruzz commented on #11
We need this to manifest as a SoW including and improvement on the architecture ant the compilers that are desired.

IAR ...

[2016-08-01 09:20] MadsNielsen opened #13 "SECTIONS Regular expression for does not match trailing whitespaces"
Suggestion for a solution: {{SECTIONS\\s*?\\r?\\n?

{([\\s\\S]*)\\n\\}

}}

if your Linker command file looks like this:
{{SECTION
{}}
the regex will not match.

If it doesn't match, it fails with this stack trace (which is bad either):
{{Memory Map Plugin version 2.1.2 (cfc34)
ERROR: Build step failed with exception
java.lang.NullPointerException
at java.util.regex.Matcher.getTextLength(Unknown S

[2016-08-01 11:39] buep commented on #13
Reported originally in https://issues.jenkins-ci.org/browse/JENKINS-37061

[2016-08-05 10:46] AndersHoglund commented on #13
If I have white space anywhere in the sections list, for example like this:

    .isr_vector + .text+.ARM.extab + .ARM + .preinit_array + .init_array + .fini_array + .data

I get this (funny) message in the log:

    Memory Map Plugin version 2.1.2 (cfc34)
    The memory section named .isr_vector  not found in map file
    Available sections are:
    [.isr_vector, .text, .ARM.extab, .ARM, .preinit

[2016-08-05 10:54] AndersHoglund commented on #3
Tried to use the memory map plugin on a STM32 ARM project, and I can not get any usable results. I seems to be working, but sizes in the graph is wrong. Always only 1 kbyte reported.
Looked around and found this issue. Maybe it is just a case of ARM not beeing supported yet.(?) There is however no info that I have seen that suggests that. Please have a look at the attached files.
[memory map plugi

[2016-08-06 09:27] buep commented on #13
@AndersHoglund - thanks, for reporting more information. We will look at the issue soon and fix it - currently awaiting estimation from and proposed fix from my colleague @MadsNielsen or @Ordojan on fixing this.

[2016-08-06 09:29] buep commented on #3
Yes, ARM isn't supported yet...we hope to soon do it. Your files can help us as a good example. Thanks for that.
The compilers we support, are actually those available to chose in the plugin configuration.

[2016-11-09 11:26] MadsNielsen opened #15 "Create use-case test for pipeline"
In order to release the new verson we need to test workflow job type with the usecase tester. Needed in order to release the change by @wbagdon .

https://github.com/Praqma/memory-map-plugin/blob/master/src/test/java/net/praqma/jenkins/usecases/UseCase.java

[2016-11-09 11:42] buep commented on #15
Which use-cases will you test?

[2016-11-09 12:19] MadsNielsen commented on #15
@buep There is only one currently. It's for GCC using GCC 4.8.2 on a hello world project using docker. It's a freestyle test. So if @Ordojan can produce an exact copy of that test, and get the same results we should be good. You agree?

[2016-11-09 12:23] buep commented on #15
yes, great... agree. Do the same test using pipeline.
Try to extract common parts if any, so we don't duplicate code between the two tests if they share some things.

[2016-11-21 12:12] Ordojan opened #16 "Docker doesn't mount volume when executing the command from a test"
The same script works if copied to a Jenkins pipeline job using the gui, but doesn't act in a reasonable manner when ran from test.

The job is created like so.
[code]
Here are the key parts from the script that describe the error
[code]
results in
[code]

[code]
evaluates to
[code]
results in
[code]

[2016-11-21 19:38] wbagdon commented on #16
I'd recommend adding [docker pipeline plugin](https://wiki.jenkins-ci.org/display/JENKINS/Docker+Pipeline+Plugin) as a test dependency and take advantage of that pipeline syntax

https://go.cloudbees.com/docs/cloudbees-documentation/cje-user-guide/index.html#docker-workflow

[2016-11-23 15:23] wbagdon commented on #16
Your POM dependencies should look like this.
[code]

Then your script can be:

[code]

[2016-11-24 13:26] Ordojan commented on #16
Hi, thanks for the help. I've implemented your changes, but the result is still the same.

This is the script
[code]

The output. I picked out the highlights, but I'll post the full output bellow
[code]
full output
[code]

[2016-11-28 14:56] wbagdon commented on #16
Looks like it is mounting with `-w /tmp/hudson1163508524827993872test/workspace/p`

Can you `cd /tmp/hudson1163508524827993872test/workspace/p` inside the container?
It should be stored in the `WORKSPACE` var or can be accessed with the Jenkins `pwd` pipeline command)

[2016-11-29 13:59] wbagdon opened #18 "Bytes on graph not being configured properly"
The graph generator is incorrectly assuming that the values from the linker file are in terms of "words" instead of bytes.
Not sure if we can simplify the generator to always work with bytes or if this would have unintended consequences for other linkers.

[2016-12-14 11:23] Ordojan commented on #15
blocked by #16

[2016-12-14 11:41] MadsNielsen commented on #18
We'll need to devise a test for this

[2017-01-11 10:12] MadsNielsen commented on #16
Right. This issue is quite confusing and it stems from a lack of understanding pipeline.

The issue, actually form the beginning has been a misconfiured pipelin script. The one below is working...
What i fixed in it was:

1. We don't want to clone the orginal memor map examples project.
2. Instead we need to clone the repo where we've updated to the next commit. In this case it's a temp git repo o

[2017-01-11 10:32] buep commented on #16
Awesome Mads - before release, make sure everything is on master, branches are cleane, PR's merged etc. and let's then look at the release package together.

[2017-01-11 12:58] MadsNielsen commented on #16
As an addendum...Jenkins fails VERY silently when the docker daemon is unresponsive. Another issue was that our docker installation was broken.

I've fixed our infrastructure on this as well....*sigh*!

[2017-01-11 13:03] #15 closed

[2017-01-11 14:15] #16 closed

[2017-02-09 08:25] buep opened #21 "Update readme with maintainer frontmatter"

[2017-02-09 08:26] #21 closed

[2017-03-09 15:47] ewelinawilkosz opened #22 "Could not find net.praqma:praqmajutils:0.1.34 (dependency problem)"
When I test my job dsl with gradle (in build.gradle I have **testPlugins 'net.praqma:memory-map:2.2.0'**) I get

Could not resolve all dependencies for configuration ':testPlugins'.

  Searched in the following locations:
      https://repo1.maven.org/maven2/net/praqma/praqmajutils/0.1.34/praqmajutils-0.1.34.pom
      https://repo1.maven.org/maven2/net/praqma/praqmajutils/0.1.34/praqmajutils-0.1.3

[2017-03-09 20:15] buep commented on #22
The problem is the dependency is not properly released, but can be found in our own repository.

Can you as a work around fro now point the dependency to http://code.praqma.net/repo/maven/net/praqma/praqmajutils/ ?

Then we will fix the dependency problem in next release.

[2017-03-10 08:48] ewelinawilkosz2 commented on #22
Sure, it is working now with added repository

[2017-03-30 14:15] #11 closed

[2017-03-30 14:19] buep opened #23 "Close old issue trackers (JenkinsCI) and Trello roadmap"
We have long time ago decided to leave the Jenkins community issue tracker in favor of github, as well as stop using Trello for our roadmaps.

This git repository and github issues are the only tracker of issues and roadmaps going forward.

[2017-03-30 14:21] buep commented on #1
Which also includes limits, deltas etc. implementen in a similar fashion like the static analysis plugins.

[2017-03-30 14:25] buep commented on #2
Roland Stahn mentionson the Trello card that he have added some example IAR Linker MAP files to this issue in the Jenkins JIRA: https://issues.jenkins-ci.org/browse/JENKINS-19840

[2017-03-30 14:40] buep opened #24 "Extract core functionality to a memory map utility independent of Jenkins"
It's been the plan for year now, we just haven't got to it.

Some of the idea is quickly drafted up here:

* Roadmap now https://github.com/Praqma/memory-map-plugin/blob/master/docs/roadmap.md
* Design: https://github.com/Praqma/memory-map-plugin/blob/master/docs/architecture.md

[2017-03-30 14:45] buep opened #25 "Establish demo projects and testing scenarios"
This is a follow up on old issue https://issues.jenkins-ci.org/browse/JENKINS-29185 and a card from our old roadmap in Trello: https://trello.com/c/mpFBz0XR/22-jenkins-29185-demo-project-production-like-environment-for-development-and-functional-testing

It is about getting some coding example project to use for memory map output file generation, that we can use for testing.
So some real life scen

[2017-03-30 14:46] buep commented on #25
We have some example and scenarios to replay here in this repository: https://github.com/Praqma/memory-map-examples

[2017-03-30 15:09] buep commented on #13
I'm closing the Jenkins CI issue https://issues.jenkins-ci.org/browse/JENKINS-37061, as we only want to use GHI going forward.

[2017-03-30 15:13] buep opened #26 "Can't define map file path"
Originally filed as Jenkins CI Jira issue https://issues.jenkins-ci.org/browse/JENKINS-32424
We only use GHI now.

[Christian Opitz](https://issues.jenkins-ci.org/secure/ViewProfile.jspa?name=chrop) wrote:

---

No matter in which format I add the file name, I either get an error message or the file is not found.
Jenkins ver. 1.625.3 on Windows 7

__Examples:__

No files found
Error message: Filem

[2017-03-30 15:15] buep commented on #26
The conclusions on [JENKINS-32424](https://issues.jenkins-ci.org/browse/JENKINS-32424) narrows down to there should be a better error message when file can't be parsed.

Further the that reason for not being able to parse them is because of the Tricore-Gcc compiler output in another format that the usual GCC compiler.

[2017-03-30 15:18] buep commented on #2
See also the relevant comments and supplied examples from Roland Stahn in [JENKINS-19840](https://issues.jenkins-ci.org/browse/JENKINS-19840) (which is now closed as we only use GHI going forward).

[2017-03-30 15:19] buep commented on #23
* Trello board closed, and github issues refreshed.
* I updated the Jenkins CI wiki plugin page giving a highlighted mesaged to use GHI

I'm going over Jenkins CI Jira issues now, and our internal Fogbugz counterpart cases and closing as well.

[2017-03-30 15:30] buep commented on #4
Reworded title to be more general an about how in general to configure graphs and type of graphs.
Maybe like many of the other plugins, like the Warnings plugin in Jenkins.

Thus i'm closing this Jenkins CI issues that is about the same: https://issues.jenkins-ci.org/browse/JENKINS-18246

[2017-03-30 15:36] buep opened #27 "Graphs overwrite each other if using same name"
If I create two graphs with the same name, it seems like the second one definition is used for both.

Originally filed as https://issues.jenkins-ci.org/browse/JENKINS-19165 by closed there as we only use Github issue going forward.

[2017-03-30 15:39] buep commented on #4
As requested in https://issues.jenkins-ci.org/browse/JENKINS-18247 (now closed a we only use Github issues) it would be great to being able to enlarge graphs. Just like Warnings Plugin graphs have an enlarge graph link.

[2017-03-30 15:42] buep opened #28 "Tokens in input fields not supported"
For example using the following path for in the Linker Command File: `${GIT_CLONE_DIR}/${cmdfile}-${BCONF}.cmd`

... can't be found.

Using the same path in for example Archive Artifacts will work, thus the env. vars. are available in the post-build step.

Originally filed as https://issues.jenkins-ci.org/browse/JENKINS-18176 (but now closed as we only use Github issues)

[2017-03-30 15:44] buep opened #29 "Publisher should be skipped if job fails"
That is the usual behavior in Jenkins plugins. The memory map plugin create a graph for that build even if the job fails.

[2017-03-30 15:44] buep commented on #29
Originally filed as https://issues.jenkins-ci.org/browse/JENKINS-18190 but now closed as we only use Github issues here.

[2017-03-30 15:47] buep opened #30 "Changing configuration deletes graph"
Changing the configuration of a graph, removed the old one including all data.
No warning.
It might be a okay decision, but we should warn about maybee in the GUI

Originally reported as https://issues.jenkins-ci.org/browse/JENKINS-18248 (now closed as we only use github issues)

[2017-03-30 15:54] buep opened #31 "Refactor Texas Instruments Parser (Part two)"
There is an old issue https://issues.jenkins-ci.org/browse/JENKINS-30001 about a second step refactor. as far as I remember is was to be backwards compatible so we we're doing over two steps.

Probably still needs to be finished.

_We wrote_:

---

We'll move the TI parser to a subpackage just to keep the codebase clean.

The first step is creating a copy of the parser in the subpackage, deprecati

[2017-03-30 15:57] buep opened #32 "Memory map plugin fails when Linker Command FIle is not UTF-8 (Texas Instruments)"
Originally filed as https://issues.jenkins-ci.org/browse/JENKINS-28259 but we use Github issues now.

Reported by Florian Reinhard which also supplied a patch.

## Steps to reproduce:

* use a Linker command file that contains umlauts like öäü
* save it as with this encoding: cp1252
* run a build with jenkins
* now you'll see that jenkins will fail, because it opens the command file as utf-8 and w

[2017-03-30 15:59] buep opened #33 "Add help text for the plugin"
It would be nice if the plugin had help text, and its name linked to each as it seems to be common for other plugins.

See the picture, where clicking on the blue questionmark icon open a help text for that specific input field. It also states which plugin contributes to the user interface here.

We will like that for memory map as well.

Originally reported as https://issues.jenkins-ci.org/browse

[2017-03-30 16:05] buep commented on #23
All Jenkins CI issues are migrated or closed if not relevant.
I added one new there, explaining we use Github issues in this repo instead.

[2017-03-30 16:17] buep commented on #23
All our old Fogbugz cases are now also resolved. About 40-50 was irrelevant and very old. Cleaned up everything old and made sure we didn't miss anything.

[2017-03-30 16:20] #23 closed

[2017-04-04 07:29] buep opened #34 "Review roadmap, architecture and blueprint"

[2017-04-04 10:45] MadsNielsen commented on #34
Hi Bue,

I took a look at your proposal, it looks OK to me. I like that the Blueprint leaves much of to the implmenter, to figure out the best approach to reach the desired state of a seperate library that can be reused outside of the plugin.

I've added a couple of small changes to the blueprint, but it looks good.

[2017-04-04 10:45] #34 closed

[2017-04-04 10:58] buep commented on #34
Thanks :-)

[2017-05-31 11:19] kvdz commented on #2
HI, i would like to make this, actually is have started already. https://github.com/kvdz/memory-map-plugin
but what is adviced?

look for each for ".text", ".noinit", ".bss"and ".data"?
Or look for the summary of the compilation:
`
    Module                  ro code  ro data  rw data  rw data
                                                                            (abs)
    ---------

[2017-05-31 13:34] buep commented on #2
Hi @kvdz

Great, we're happy to take in contributions and supply you with some answers etc.

Regarding your question above we would prefer if find the different .text, .bss etc so they can be used for making graphs. You need to implement a new parser in `src/main/java/net/praqma/jenkins/memorymap/parser/` like the one for TI and GCC.
I haven't programmed any of it, but it should mostly be copy pas

[2017-06-01 07:47] kvdz commented on #2
The reason i am asking is because i am not confident that it will work for IAR map file.
why because the illustrations in here https://github.com/Praqma/memory-map-plugin/blob/master/docs/ResearchNotes.md are not always true for IAR.

you could have 2 programs (bootloader, main program)  bootloader can ben in the upper space of in the lowest space of the flash.  The main program and the bootloader

[2017-06-01 07:58] kvdz commented on #2
example some parts are removed:

*******************************************************************************
*** PLACEMENT SUMMARY
***

"A1":  place at 0x10001fe0 { section .noinit };
"A2":  place at start of [0x00000000-0x000002ff] { ro section .intvec };
"A3":  place at start of [0x00000300-0x0000cfff] { ro section .cstartup };
"P1":  place in [from 0x00000300 to 0x0000cfff] { ro };
"P2":  p

[2017-06-19 20:09] torsknod opened #35 "CodeWarrior for MicroControllers Eclipse IDE Support"
Link to the page of the compiler: [http://www.nxp.com/products/software-and-tools/software-development-tools/codewarrior-development-tools/codewarrior-development-studios/codewarrior-for-microcontrollers/codewarrior-for-mcus-eclipse-ide-coldfire.-56800-e-dsc-kinetis.-nxp-56xx-rs08-s08-s12z-v10.7:CW-MCU10](CodeWarrior for MicroControllers Eclipse IDE) .
I will attach examples for a "hello" program

[2017-06-21 15:27] buep commented on #35
Hi @torsknod - thanks for your issue (i fixed the link).

Your contribution is very welcome, we will be happy to look at the contribution and accept the change, so we can run it through our pipeline and make an official release of it.

Just ping us here again :-)

[2017-06-26 12:25] torsknod commented on #35
I have attached a ZIP with a MAP file and PRM (Linker File) as an example. I will look into creating a test case including necessary stub classes [in a branch of my fork](https://github.com/torsknod/memory-map-plugin/tree/%2335).
[GitHubPraqmaMemoryMapPluginIssue35.zip](https://github.com/Praqma/memory-map-plugin/files/1102031/GitHubPraqmaMemoryMapPluginIssue35.zip)

[2017-08-01 09:29] AndersHoglund commented on #3
It turns out that the GCC parser actually supports ARM32 when comping with a `gcc-arm-none-eabi-*` compiler. There are however a few problems needing workarounds and bugfixes.
 - WordSize and radix when doing hex to dec conversion is mixed up, bug fixed in PR #37 .
 - `INCLUDE file` statements in linker command files are not supported. I did a workaround in Jenkins with a shell build step concaten

[2017-08-07 09:54] AndersHoglund opened #38 "Add support for one memory section duplicated in two memory areas."
Typically in an embedded application the `.data` section occupies space in both FLASH and RAM. Currently it seems as only RAM is supported. Please take look at the linker command files attachec in PR #37., where the `.data` spec looks like this :

      .data :
      {
        . = ALIGN(4);
        _sdata = .;        /* create a global symbol at data start */
        *(.data)           /* .data se

[2018-01-15 17:24] AndersHoglund opened #39 "X-axis (build no) becomes very cluttered with a large amounts of builds."
X-axis (build no) becomes very cluttered with a large amounts of builds.
Sample usage here: http://andwho.sytes.net:8080/job/AndWho_Betaflight/
Or the the attached screen shot.

![bf_jenkins_memmap](https://user-images.githubusercontent.com/15121917/34954587-409b21e4-fa21-11e7-9649-07ace3193958.jpg)

[2018-01-16 11:53] flreinhard opened #40 "Memory-map-plugin broken when parameter "Word size" is other than 16"
Steps to reproduce:

- Open the configuration of a job using memory-map-plugin
- Set "Word size" to anything reasonable which is not 16, e.g.
- Save
- open an existing memory-map plot and probably you will get java.lang.NumberFormatException

Reason: HexUtils.java, function wordCount.
The code changed from
`return (HexUtils.getRadix(hexString, HEXA_RADIX)) / HexUtils.scale.get(scale.toLowerCase())

[2018-01-16 12:17] flreinhard commented on #40
The Pullrequest PR #37 from august last year also fixes the issue and adds further tests.

[2018-01-16 13:52] buep commented on #39
Hi @AndersHoglund we do not run into the issue because we do not save that many builds.

I'm suspecting that other graphing plugins, like the Warnings plugin will do the same?

If we should fix this, we should maybe only write the build number for every x build when the number of builds increases to a certain number.

Would that be a solution? Should it be configurable or just a fixed configuratio

[2018-01-16 14:40] buep commented on #40
Hi @flreinhard

Thanks for the inputs, and sorry for not expediting the PR earlier.

I have pulled in your changes in PR #37 on a branch for this issue, only changing the hardcoded 16 to HEX_RADIX constant.

But the wordsize parameter was unused, so I fixed that up as well.

Please review, and I'll see if I can get it releases soon.

[2018-01-16 15:37] AndersHoglund commented on #39
You need to able to see the long term trend on metrics like this.
No other plugins I use shows this problem, examples here:
http://andwho.sytes.net:8080/job/BorisB_BetaFlight/
In some way builds numbers are scaled and show only every 5th, 10th or 50th value, depending on total range of build numbers.

[2018-01-16 15:39] AndersHoglund commented on #39
And of course it should be a dynamic scaling, no more config items please. And certainly not a fixed scaling.

[2018-01-17 07:31] flreinhard commented on #40
Looks good except for:
Revert HexUtilsTest.java, Chunk @@ -43,13 +43,21 @@
Does not make sense anymore, since you dropped the wordSize parameter for HexUtils.wordCount.

[2018-01-18 14:17] buep commented on #40
Yes I dropped the `wordsize` and that was the essence of suggested edits and it ended up with the function not using it.

It's not my own code and I didn't go through all details, so I'm happy to spend a little more time on it if you think the combined change is not correct  ?

[2018-01-22 12:51] flreinhard commented on #40
As i wrote: just revert the Chunk "HexUtilsTest.java, Chunk @@ -43,13 +43,21 @@"
https://github.com/Praqma/memory-map-plugin/compare/40-memory-map-plugin-broken-when-parameter-word-size-is-other-than-16#diff-5b546fd26882740174b43035011b917d

The result of the combined change is, that you run the same tests 3 times. This does not make sense ;)

[2018-02-13 13:38] Aresius423 commented on #40
Hey,

I don't want to unnecessarily create a PR for this, but would it be possible to delete HexUtilsTest.java:53-60 and restore the previous comment on line 46, so you can close this issue and release the fix from PR #37?

[2018-03-01 11:04] buep commented on #40
Yes - we will put progress on fixing what is needed now.

I'm sorry for the delay, I had to less time so my colleague will try to help and look over it.

[2018-03-02 08:32] OEHC commented on #40
It surely does not make sense to run the same set of tests multiple times.
I have deleted/reverted the section you mentioned @flreinhard, @Aresius423. This should make the code sound and ready for release.

[2018-03-12 17:09] OEHC commented on #39
This issue should be fixed in commit 6351062

[2018-03-13 17:28] AndersHoglund commented on #39
Thanks, pulled and built branch `39-x-axis-build-no-becomes-very-cluttered-with-a-large-amounts-of-builds` . Seems to work OK and fixes this issue.
![jenikins-bff3-memory-usage-fixed](https://user-images.githubusercontent.com/15121917/37358819-5002bc9e-26ec-11e8-8a99-ba101d6e7e47.jpg)

[2018-03-22 12:18] #39 closed

[2018-03-22 12:27] #40 closed

[2018-04-19 14:29] rstahn commented on #2
Nice to read about progress on this feature! I am happy to provide even more map files to be tested:  [EWARM_MAP2.ZIP](https://github.com/Praqma/memory-map-plugin/files/1928489/EWARM_MAP2.ZIP)
This contains MAP output of IAR EWARM v7.60.1 and the quite new v8.20.1.

I also added the associated linker configuration file for each map file, since I just learned that the memory map plugin evaluates th

[2018-04-19 14:33] rstahn commented on #2
BTW, since this issue is called "IAR support". I think we need to differentiate between the various editions of IAR compilers for different platforms. Most users are probably interested in parsing map files for the widespread ARM MCUs. This is what IAR calls "EWARM" (Embedded Workbench for ARM). As we already learned from my example files, linker output is different for other IAR compilers (STM8,

[2018-05-17 14:17] kvdz commented on #2
@rstahn  i agree on seperation of the issue into IAR EWARM/ IAR AVR/ IAR STM8. the only tested versions with this parser is a LPC 11xx, 17xx using IAR V6.4.4 so newer versions are welcome.  but i don't have the rights to change issues here.  i will test the zip you posted here to see if there is room for improvements.

[2018-05-17 14:27] kvdz commented on #2
@rstahn The most parts like .bss, .rodata, .text, .data and .noinit are all good on any version (V7.60.1 and V8.20.1).

only i say something on `EWARM7601_STM32L151VD-X.map`
i say this `__DLIB_PERTHREAD  inited   0x2000339c      0x4  errno.o [3]`
 what is  __DLIB_PERTHREAD ?  is it in rom? ram?

[2018-05-18 06:57] kvdz commented on #2
@rstahn  oke thank you.

[2018-05-18 06:59] kvdz commented on #2
@buep how does the configuration works?  to me it looks really messy and not really readable. What should it do in these functions:"parseConfigFile, parseMapFile" ?

[2018-05-18 07:02] kvdz commented on #2
@rstahn  i have added all ARM AVR and STM8 memory sections so no rename needed on tickets.

[2018-07-13 09:12] patrickjmccarty commented on #22
This is still a problem. Moreover, the link given above as a workaround is now totally dead (Unknown host code.praqma.net). Try building this project without your local repo and you'll find other problems too.

[2018-07-13 09:38] #22 closed

[2018-07-13 10:01] MadsNielsen commented on #22
@patrickjmccarty It should be fixed now :)

[2018-07-14 06:18] patrickjmccarty commented on #22
@MadsNielsen Seems to build fine now. Thank you!

[2018-07-25 13:08] ben-edna commented on #2
Really looking forward to IAR support for the Memory map plugin, is there anything that I can do to help the merging of PR #43 ? Is it easy to create an .hpi for the branch that we can test the plugin with IAR support?

[2018-07-26 11:51] praqma-thi commented on #2
Hey folks,

Sorry if things have been quiet from our side. We've had a hectic spring and now everyone's buggered off for summer holidays. :palm_tree:

I'll see if I can help you out and get the ball rolling for when @MadsNielsen gets back from holiday. I'll look into @kvdz's changes and questions, and setting up a HPI build for the PR.

Expect some info soon. :v:

[2018-07-26 12:14] praqma-thi commented on #2
I pulled down @kvdz's changes, rebased them onto `master` and tinkered away a bit to get it building.
My changes are on the [iar-pr-1](https://github.com/Praqma/memory-map-plugin/tree/iar-pr-1) branch.

The project still uses Maven, so to build an HPI you can run `mvn clean package`, which creates `target/memory-map.hpi`. You'll need Maven and the JDK installed, or use the [`maven:3.5.3-jdk-8`](ht

[2018-07-26 13:17] praqma-thi commented on #2
As for the details regarding the parsing methods, I only have a vague idea.
I think I'll need to chat with @MadsNielsen next week. :sweat_smile:

I'll take a shot at explaining them anyway, but take what I say with a grain of salt. I can do Java, but memory maps aren't really my thing. :wink:

From what I understand that's where the RegEx are actually used to build up a list of `MemoryMapConfigMem

[2018-12-03 15:03] daantimmer opened #44 "Unable to (properly) parse gcc linker file for ROM/.text section and custom sections"
I seem to be unable to properly parse the .text section in our map file.
Map file is generated by (arm) gcc.

This is the output that I am getting from a test-run with fixed pre-built .map file + associated linker file:

[code]
When I parse the data for flash/rom data like: `.text+.ARM.exidx` I get the following graph:
![image](https://user-images.githubusercontent.com/8293597/49380995-40e52b00-f7

[2019-01-08 09:02] rstahn commented on #2
Any progress regarding this topic?

[2019-02-14 08:37] ben-edna commented on #2
Is there anyone that has this plugin (with IAR support) working in a pipeline and can provide a demo snippet, I'm not sure how to use it. But I'm still very much open into testing it, we have a lot of different IAR versions and platforms. Currently trying to integrate it into a `7.80.4` for `ARM` project.

[I created a hpi ](https://github.com/spoorcc/memory-map-plugin/releases)and installed it on

[2019-02-14 13:15] Amasis commented on #2
Since yesterday, I'm stuck at the same problem: `No match found for program memory named ...`. Tried things like const, CONST, Data, DATA, data.
What `Linker command file` did you use?
I used your hpi, as I compiled my own but it didn't have a "Publish Memory Map post-build action" made available

[2019-02-14 13:19] ben-edna commented on #2
I tried both the `icf` and the `map` file, since in IAR everything should be parseable from the map file.
Next to that I tried all kinds of entires for all fields such as `Code`, `Const`, `.bss`, `.text`, `text`, `EWARM_CONST`, `EWARM`

[2019-02-18 09:42] praqma-thi commented on #2
Hey everyone,

We're looking at fixing and merging in the pull request, then making a formal release that supports IAR. To help with that, we could really use some more IAR files to write tests against, as we currently have no way of verifying if the parser's working. :confused:

Would it be possible to provide some test files you'd like being able to parse using the plugin? If possible, specify w

[2019-02-18 10:12] ben-edna commented on #2
Great! 👍

Below some example map files (as .txt). If you need more examples I'm happy to provide them, but you can also download IAR for a specific architecture and on the start page go to the Information center and download example projects.
The exact linker version for the file output is mentioned in the header of the map file

## EWSTM8 2.20
[IAR-EWSTM8-2.20.txt](https://github.com/Praqma/memor

[2019-02-20 09:49] Amasis commented on #2
Glad to hear, that you're on fixing it.

I attached some map files (as .txt, as .map is not supported to upload).
If you want me to test a prerelease version of your plugin, I 'd be glad to do so with some more map files, which I can't publish as they contain confidential information.

[IAR-EWARM-7.80_File2.txt](https://github.com/Praqma/memory-map-plugin/files/2883964/IAR-EWARM-7.80_File2.txt)
[I

[2019-03-06 18:02] DaMutz commented on #2
I can generate more map files if you need them. I am very interesting in this feature and the plugin in general. When is this feature planned to release? I can also contribute with unit-tests or parser implementation.

[2019-03-21 10:00] OEHC commented on #2
This is the next issue I will work on. I hope to get to it within two weeks.

[2019-04-12 08:35] OEHC commented on #2
The current implementation on the `iar-pr-1` branch does not take the changed format of the linker files into account and is therefore not able to correctly match the different things to be graphed. Could you provide a few example linker files as well, so we can get this fixed?

[2019-04-12 08:46] spoorcc commented on #2
Below some linker files as text files (remove the .txt). Note that the 8051 linker files have a `.xcl` extension and the other `.icf`.

- [ew8051_9.20.1_linker_file_lnk51ew_P80C31BA.xcl.txt](https://github.com/Praqma/memory-map-plugin/files/3072392/ew8051_9.20.1_linker_file_lnk51ew_P80C31BA.xcl.txt)
- [ewarm_7.40.7_linker_file_stm32f042x6.icf.txt](https://github.com/Praqma/memory-map-plugin/files/

[2019-04-12 11:12] rstahn commented on #2
I can provide additional linker configuration and map files for EWARM 7.60.1:
- [EWARM_7.60.1_linker_stm32f091xC.map.txt](https://github.com/Praqma/memory-map-plugin/files/3072970/EWARM_7.60.1_linker_stm32f091xC.map.txt)
- [EWARM_7.60.1_linker_stm32f091xC.icf.txt](https://github.com/Praqma/memory-map-plugin/files/3072971/EWARM_7.60.1_linker_stm32f091xC.icf.txt)
- [EWARM_7.60.1_linker_stm32f303xE.m

[2019-04-12 11:15] rstahn commented on #2
I can also provide some additional ICF files for larger MCU's with multiple SRAM and FLASH banks:
- [EWARM_8.22.3_linker_stm32f479xI.icf.txt](https://github.com/Praqma/memory-map-plugin/files/3073002/EWARM_8.22.3_linker_stm32f479xI.icf.txt)
- [EWARM_8.22.3_linker_stm32f777xI.icf.txt](https://github.com/Praqma/memory-map-plugin/files/3073003/EWARM_8.22.3_linker_stm32f777xI.icf.txt)
- [EWARM_8.22.3_

[2019-04-12 11:33] rstahn commented on #2
Here is another interesting special case:
- [EWARM_7.60.1_linker_stm32l15xVD-X.map.txt](https://github.com/Praqma/memory-map-plugin/files/3073055/EWARM_7.60.1_linker_stm32l15xVD-X.map.txt)
- [EWARM_7.60.1_linker_stm32l15xVD-X.icf.txt](https://github.com/Praqma/memory-map-plugin/files/3073056/EWARM_7.60.1_linker_stm32l15xVD-X.icf.txt)

This controller features 384kB of FLASH memory in two banks wit

[2019-06-04 11:44] ben-edna commented on #2
@OEHC Is there a branch in a fork we can try out, even if it is not finished yet? Would love to help in testing it. If there is anything else you need, please let me know.

[2019-06-04 13:09] praqma-thi commented on #2
The relevant changes should be on the [iar-pr-1](https://github.com/Praqma/memory-map-plugin/commits/iar-pr-1) branch.

I'm planning on picking this up again on Friday, as Oliver went on leave to finish his thesis. I believe I was adding some tests when I last left off, though I seem to have done an excellent job of actually pushing my changes. 😓

Regardless, I'll see if I can get those tests up a

[2019-06-04 14:14] ben-edna commented on #2
@praqma-thi  Thanks for the update! Let me know if I can contribute in any way. Really appreciating the work 👍

[2019-06-07 13:40] praqma-thi commented on #2
Fruitful afternoon digging through old Java code, I must say.

The current IAR parser is a placeholder copy of the Texas Instrument parser. Before jumping into writing the IAR parser, I tried to figure out how implementations of [AbstractMemoryMapParser](https://github.com/Praqma/memory-map-plugin/blob/iar-pr-1/src/main/java/net/praqma/jenkins/memorymap/parser/AbstractMemoryMapParser.java) actuall

[2019-06-14 13:39] praqma-thi commented on #2
Pushed some WIP changes to the `iar-pr-1` branch.
Added a placeholder test, moved all the patterns to map and started working on the actual parsing logic.
I'll have to take another look at what I actually have to parse and where to put the data, though I don't think that'll be too difficult.
If we're lucky, I might get that test functional and green when I come back to this on Thursday.

[2019-06-20 13:10] praqma-thi commented on #2
I was plagued by a weird runtime error, where Jenkins complains the `MemoryMapRecorder` class doesn't have a `Descriptor`, but it does. I took my builds to the build server where the tests run without issue.

So now the parser finds and parses entries, but results don't match expectations.
It looks like it's not correctly adding up the results for each section.

So parsing `.bss` on the following,

[2019-08-22 08:08] mjfwest commented on #32
is this the expected symptom of this bug?  Is there a resolution?
[code]

[2019-12-11 09:38] gjabouley-invn commented on #2
Hello @praqma-thi , any update on IAR ARM (EWARM) support readiness for this plugin?
Will it address both v7 & v8?

[2020-01-22 13:52] praqma-thi commented on #2
Progress is slow, as I can only rarely chip away at it. I'll see if we can somehow address this, either by reviving Praqma's open source department or putting the plugin up for adoption.

Some progress notes:
I spent some time digging into why the parser isn't returning the correct values.
So the parser goes through the map file, and looks for entries you want recorded.
However, I found out it the

[2020-08-10 13:49] karlp opened #55 "NullPointerException"
Unfortunately there's no stack trace, just...
[code]

I added a custom logger for net.praqma.jenkins and got nothing extra there either.

I _suspect_ that the linker script parsing doesn't handle includes? The linker script is just
[code]

However, I don't know how to debug this further

[2020-08-12 06:09] praqma-thi commented on #55
Can you share the Memory Map plugin's configuration of your job? I'll see if I can reproduce the issue.

[2020-08-12 09:36] karlp commented on #55
Reconfigured it from scratch again, and got a stack trace thsi time too...
[code]
COnfig is as per image, based on examples in https://github.com/Praqma/memory-map-examples/blob/master/examples/arm-none-eabi-gcc_4.8.4_hello_world/graphConfiguration.json
![Screenshot from 2020-08-12 09-34-30](https://user-images.githubusercontent.com/127907/89999980-16d16380-dc7f-11ea-96f3-ca3c9c23c4d5.png)

app.ld

[2020-08-12 10:49] praqma-thi commented on #55
The parser tries to find the `SECTIONS` block it assumes is in your `app.ld`. The following step then happily explodes trying to parse `null`. So indeed, it boils down to the plugin being unable to handle `INCLUDE` statements. In the end, it's just a humble jumble of regular expressions.

I'll make an issue about the missing `INCLUDE` support, though that might take a while to implement. Our Jenki

[2020-08-12 10:54] praqma-thi opened #56 "[GCC] Add support for INCLUDE statements"
The GCC parser (and likely the others) lacks support for `INCLUDE` statements, causing the parser to fail or build an incomplete map when contents are spread over multiple files.

Example can be found in issue #55, where the parser failed to find the `SECTIONS` block as this was located in an `INCLUDE`d file.

This'll likely result in pre-parsing the file for `INCLUDE` statements, recursively chec

[2020-08-12 10:58] praqma-thi opened #57 "[GCC] Gracefully handle `SECTIONS` block being missing"
As per issue #55, the GCC parser crashes and burns with an enigmatic NullPointerException if the `SECTIONS` block is missing from the parsed file.

This should be caught and a more meaningful error thrown.

[2020-08-19 06:32] #57 closed